meta(name="viewport",content="width=device-width,initial-scale=1")
meta(content="always",name="referrer")
link(rel='stylesheet', type="text/css", href='/libs/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', type="text/css", href='/stylesheets/global.css')
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(charset="utf-8" src="/KindEditor/kindeditor-min.js")
script(charset="utf-8" src="/KindEditor/lang/zh_CN.js")
script.
  var editor;
  KindEditor.ready(function(K) {
  editor = K.create('textarea', {
  width:'100%',
  allowImageUpload : true,
  items : [
  'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
  'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
  'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
  });
  });