extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post")
        .form-group
          //- label.col-sm-2.control-label 类别
          //- .col-sm-8
          //-   input.form-control(type="text",name="category",placeholder="请输入类别")
        .form-group
          label.col-sm-2.control-label 标题
          .col-sm-4
            input.form-control(type="text",name="title",placeholder="请输入标题")
          label.col-sm-2.control-label 类别
          .col-sm-2
            select.multiple.form-control(name="category",id="category")
              option 请选择
              option(value="下载") 下载
              option(value="安装") 安装
              option(value="技能") 技能
              option(value="升级") 升级
              option(value="经验") 经验
              option(value="装备") 装备
              option(value="任务") 任务
              option(value="怪物") 怪物
              option(value="物品") 物品
              option(value="活动") 活动
              option(value="点券") 点券
              option(value="金币") 金币
              option(value="赞助") 赞助
              script.
                var myselect=document.getElementById("category");
                var index=myselect.selectedIndex;
                var category=myselect.options[index].value;
        .form-group
          label.col-sm-2.control-label 标签
          .col-sm-2
            input.form-control(type="text",name="tag1",placeholder="标签")
          .col-sm-2
            input.form-control(type="text",name="tag2",placeholder="标签")
          .col-sm-2
            input.form-control(type="text",name="tag3",placeholder="标签")
          .col-sm-2
            input.form-control(type="text",name="tag4",placeholder="标签")
          .row
        .form-group
          label.col-sm-2.control-label 正文
          .col-sm-8
            textarea.form-control(type="text", name="post",rows="3")
        .form-group
          .col-sm-8.col-sm-offset-2
            button.btn.btn-default.btn-block(type="submit") 发表
  .span(style="padding-bottom:100px;") 